
/* ===== Primary Styles ========================================================
    * Project: Web App Template 2.0
    * Author:  Elie Ishimwe
    * Email:   elieish@gmail.com
   ========================================================================== */
.form-control {
    width: 50% !important;
}

.datepicker {z-index: 100000 !important ;}

.nav-pills > li.active > a {
    background-color: #9ED034;
}

.nav-pills > li.active > a:hover {
    background-color: #1D4B00 ;
}

