
/* ===== Primary Styles ========================================================
    * Project: Yard Website
    * Author:  Elie Ishimwe
    * Email:   elieish@gmail.com
   ========================================================================== */
.form-control {
    width: 50% !important;
}

.datepicker {z-index: 100000 !important ;}

.nav-pills > li.active > a {
    background-color: #4C9ED9;
}

.nav-pills > li.active > a:hover {
    background-color: #172D82 ;
}

.btn-primary {
     background-color: #9ED034 !important;
     border-color: #9ED034 !important;
}


button:hover {
     background-color: #1D4B00 ;
}

.dropdown-menu {
    min-width: 430px;
}

.has-error,.help-block{
    color: #A94442 !important;
}

.has-error .form-control {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.pink_color {

    background-color:#ff0033 !important;
    border-color: #ff0033 !important;
}



.gallery {
    width: 25em;
    margin: 2em auto;
}

.gallery-item {
    height: auto;
    width: 48.618784527%;
    float: left;
    margin-bottom: 2em;
    position: relative;
}

    .gallery-item:first-child {
        margin-right: 2.762430939%;
    }

.gallery-item img {
    width: 100%;
    height: 100%;
}

.gallery-item:hover .img-title {
    opacity: 1;
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 80%;
    width: 100%;
    text-align: center;
    opacity: 0;
   /* display: none;*/ /* comment this out for CSS hover */
    background-color: #333;
    transition: all 0.5s ease;
}

    .img-title h5 {
        position: absolute;
        color: #fff;
        top: 33%;
        width: 100%;
        text-align: center;
    }





