
/* ===== Primary Styles ========================================================
    * Project: Web App Template 2.0
 	* Author:  Dean Thomson
 	* Email:   deant@imply.co.za
   ========================================================================== */

/* ================= Global ================== */

html, body {
	min-height: 100%
}

body {
	background: #FFF;
}

h1 {
	color: #1994D0;
	padding-bottom: 30px;
}

h2 {
	color: #989898;
}

a:hover {
	text-decoration: none;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.inline {
	display: inline;
}

/* ================= Header ================== */

.logout {
	padding-top: 20px;
	padding-right: 5px;
}

/* ---------------- Main Nav ----------------- */

.navbar .nav > li > a {
	padding: 24px 15px;
	text-shadow: none;
}

.navbar .nav .active > a, 
.navbar .nav .active > a:hover {
    background-color: #1596D0;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.navbar .nav > li > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #1596D0;
    color: #fff;
}

.navbar .nav > li > a:hover {
    background-color: #317BF0;
    color: #FFFFFF;
    text-shadow: none;
}

.navbar .nav > li > a {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #ECECEC
}

.navbar .nav > li:first-child > a {
    border-left: none;
}

.navbar .nav > li > a {
	color: #1994D0;
}

.navbar .nav > li:last-child > a {
    border-right: none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-bottom-color: #1994D0;
    border-top-color: #1994D0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-bottom-color: #fff;
    border-top-color: #fff;
}

/* ================== Content ===================== */

input.search-query {
    border-radius: 0px 15px 15px 0px;
}

.input-append, .input-prepend {
    margin-top: 14px;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    
    -webkit-border-radius: 15px 0 0 15px;
       -moz-border-radius: 15px 0 0 15px;
    	 -o-border-radius: 15px 0 0 15px;
    		border-radius: 15px 0 0 15px;
}

/* -------------------- Buttons ------------------ */

.btn-primary {
	
	background: #62aee0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYWVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTk2ZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #62aee0 0%, #1596d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62aee0), color-stop(100%,#1596d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #62aee0 0%,#1596d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #62aee0 0%,#1596d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #62aee0 0%,#1596d0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #62aee0 0%,#1596d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62aee0', endColorstr='#1596d0',GradientType=0 ); /* IE6-8 */

}

.btn-primary:hover {
	background: #1596d0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1OTZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MmFlZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1596d0 0%, #62aee0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1596d0), color-stop(100%,#62aee0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1596d0 0%,#62aee0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1596d0 0%,#62aee0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1596d0 0%,#62aee0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1596d0 0%,#62aee0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1596d0', endColorstr='#62aee0',GradientType=0 ); /* IE6-8 */

}

/* -------------------- Tabs ------------------ */

/*.nav-tabs, .nav-pills {
	margin-left: 30px;
}
*/
/* -------------------- Tables ------------------ */
.table-wrap {
	overflow: auto;
}

.table thead th {
    background-color: #1596D0;
    color: #fff;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
 	background-color: #fff;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
	background-color: #f4f4f4;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #f0f0f0;
}

/* -------------------- Forms ------------------ */

form .input-prepend .add-on:first-child, form .input-prepend .btn:first-child  {
	border-radius: 3px 0 0 3px;
}

form .input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	width: 108px; /* Set width to that of the longest form label */	
	text-align: right;
}

.form-search input, .form-inline input, .form-horizontal input, 
.form-search textarea, .form-inline textarea, .form-horizontal textarea, 
.form-search select, .form-inline select, .form-horizontal select, 
.form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, 
.form-search .uneditable-input, .form-inline .uneditable-input, 
.form-horizontal .uneditable-input, .form-search .input-prepend, 
.form-inline .input-prepend, .form-horizontal .input-prepend, 
.form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
	margin: 0 0 10px 0;	
}

fieldset {
	margin-bottom: 10px;
}

.label-inline {
	display: inline-block;
	vertical-align: middle;
}
label {
    font-weight: bold;
}

.form-horizontal input[type="submit"] {
	margin-left: 70px;
}

.form-inline input[type="submit"] {
	margin-bottom: 21px;
}

.label-inline input[type="submit"] {
	margin-left: 200px;	
}

.form-actions .control-group label {
	display: inline;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: inherit;
	margin-right: 5px;
}

.navbar-inner {
	background: #FFF;
} 

/* ================== Footer ===================== */

footer {
	color: #c5c5c5;
	text-align: center;
}

/* ================== @media Query ===================== */

@media (max-width: 600px) {
	.input-prepend input, .input-prepend textarea, .input-append input, .input-append textarea, .input-prepend input[class*="span"], 
	.input-append input[class*="span"] {
    	display: inline-block;
    	width: auto;
	}	
}

/* ================== Search ===================== */

.search input {
	margin-bottom: 0px;
}

/* ================== Loading Image ===================== */
#loading_spinner { display:none; }


#myTab  > li > a:hover {
    background-color: #317BF0;
    color: #FFFFFF;
    text-shadow: none;
}

.progress {
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.progress-bar {
    background-color: #428BCA;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    animation: 2s linear 0s normal none infinite progress-bar-stripes;
}
.progress-bar-success {
    background-color: #5CB85C;
}
.progress-striped .progress-bar-success {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.progress-bar-info {
    background-color: #5BC0DE;
}
.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.progress-bar-warning {
    background-color: #F0AD4E;
}
.progress-striped .progress-bar-warning {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
.progress-bar-danger {
    background-color: #D9534F;
}
.progress-striped .progress-bar-danger {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
